@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>This is a basic CRUD application developed using Asp.Net MVC with Entity framework code-first approach. This application takes the details of users like Image, First name, Last name, email Id and Phone number and shows them in a Index table which can be edited or deleted later. The Email Id and Phone number fields in the form are validated.</p>
